h1,h2 {
    font-size: 30px;
    color: #fff;
    font-family:  "Press Start 2P", system-ui;
    opacity: 1;
    margin: 10px;
    font-weight: 400;
    font-style: normal;
}

p {
    font-size: 15px;
    color: #fff;
    font-family: "Work Sans", sans-serif;
}


button{
    color: black;
    background-color: aqua;
    font-family:  "Press Start 2P", system-ui;
    /* font-weight: bold; */
    padding: 10px;
    opacity: 100%;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
}

.button:hover {
    background-color: black;
    color: aqua;
}

.titleContainer {
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 1em 10em;
    max-width: 700px;
}

.responseContainer {
    padding: 25px;
    text-align: center;
    margin: 1em;
    max-width: 700px;
}

.mainContainer {
    background-color: rgba(0, 0, 0, 0.6); /* negro con opacidad */
    position: relative;
    z-index: 4;
    padding: 1em;
    margin: 20px auto;
    /* border-radius: 12px; */
    backdrop-filter: blur(2px);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    max-width: 800px;
}

.hidden {
  display: none;
}

.divButtons {
    color: black;
    font-family: "Work Sans", sans-serif;
    font-weight: bold;
    padding: 10px;
    opacity: 100%;
    margin-top: 20px;
}

.vibeButtons {
    background-color: black;
    color: greenyellow;
    font-family:"Work Sans", sans-serif;
    padding: 10px;
    opacity: 100%;
    margin: 20px 10px;
    border-radius: 10px;
}

.vibeButtons:hover {
    color: black;
    background-color: greenyellow;
    font-weight: bold;
}

#weatherContainer {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem;
    color: white;
    font-family: "Press Start 2P", system-ui;
    font-size: small;
    background-color: rgba(0, 0, 0, 0.4); 
    backdrop-filter: blur(3px); 
    /* border-radius: 10px; */
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    
    position: relative;
    z-index: 11;
    margin: 1rem auto;
}





