h1,h2 {
    font-size: 20px;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    opacity: 100%;

}

p {
    font-size: 15px;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}

button {
    color: black;
    background-color: aqua;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding: 10px;
    opacity: 100%;
}

.titleContainer {
    display: inline-flexbox;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 1em 10em

}

#responseContainer {
    display: block;
    text-align: center;
}

main {
    background-color: black;
    position: relative;
    z-index: 4;
    padding: 1em 10e;
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: 80%;

}
